<style>
tr{
text-color:red;
}
</style>
<div id="random_data">

<div class="row">
    <div class="col-lg-6">
        <div class="card   text-white-50">
            <div class="card-body">
                <h1 class="card-title">
                    <h1 class='center'> MASTER MFM </h1>
                </h1>
                <table class="table table-bordered">
                   <tr>
                    <td>Volume Flow Rate (m3/h)</td>
                    <td class="valspace">{{x[0][0]}}</td>
                </tr>
				<tr>
                    <td>Volume Flow Rate @15 degc(m3/h)</td>
                    <td class="valspace">{{x[0][1]}}</td>
                </tr>
				<tr>
                    <td>Mass Flow Rate (ton/h)</td>
                    <td class="valspace">{{x[0][2]}}</td>
                </tr>
                <tr>
                    <td>Temperature (degc)</td>
                    <td class="valspace">{{x[0][3] }}</td>
                </tr>
				<tr>
                    <td>Density (kg/m3)</td>
                    <td class="valspace">{{x[0][4] }}</td>
                </tr>
                <tr>
                    <td>Density @15 degc (kg/m3)</td>
                    <td class="valspace">{{x[0][5] }}</td>
                </tr>
                <tr>
                    <td>Volume Totalizer (m3)</td>
                    <td class="valspace">{{x[0][6]}}</td>
                </tr>
                <tr>
                    <td>Volume Totalizer @15 degc (m3)</td>
                    <td class="valspace">{{x[0][7]}}</td>
                </tr>
                <tr>
                    <td>Mass Totalizer (ton)</td>
                    <td class="valspace">{{x[0][8] }}</td>
                </tr>
				<tr>
                    <td>Velocity (m/sec)</td>
                    <td class="valspace">{{x[0][9]}}</td>
                </tr>

                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card  text-white-50">
            <div class="card-body">
                <h1 class="card-title">
                    <h1 class="center"> NORMAL MFM </h1>
                </h1>
                <table class="table table-bordered">
                    <tr>
                    <td>Volume Flow Rate (m3/h)</td>
                    <td class="valspace">{{x[1][0] }}</td>
                </tr>
				<tr>
                    <td>Volume Flow Rate @15 degc(m3/h)</td>
                    <td class="valspace">{{x[1][1] }}</td>
                </tr>
				<tr>
                    <td>Mass Flow Rate (ton/h)</td>
                    <td class="valspace">{{x[1][2] }}</td>
                </tr>
                <tr>
                    <td>Temperature (degc)</td>
                    <td class="valspace">{{x[1][3] }}</td>
                </tr>
				<tr>
                    <td>Density (kg/m3)</td>
                    <td class="valspace">{{x[1][4] }}</td>
                </tr>
                <tr>
                    <td>Density @15 degc (kg/m3)</td>
                    <td class="valspace">{{x[1][5] }}</td>
                </tr>
                <tr>
                    <td>Volume Totalizer (m3)</td>
                    <td class="valspace">{{x[1][6] }}</td>
                </tr>
                <tr>
                    <td>Volume Totalizer @15 degc (m3)</td>
                    <td class="valspace">{{x[1][7] }}</td>
                </tr>
                <tr>
                    <td>Mass Totalizer (ton)</td>
                    <td class="valspace">{{x[1][8] }}</td>
                </tr>
				<tr>
                    <td>Velocity (m/sec)</td>
                    <td class="valspace">{{x[1][9] }}</td>
                </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>



